<%- include("template/head", {tituloweb: 'inicio'}); %>

<%- include("template/header"); %>

<%- include("template/activities"); %>

<%- include("template/welcome"); %>

<%- include("template/courses"); %>

<section class="entrenadores">
    <%- include("template/trainers", {numeroEntrenador: '1', ocupacionTrabajador: 'Entrenador'}); %>
    <%- include("template/trainers", {numeroEntrenador: '2', ocupacionTrabajador: 'Entrenador'}); %>
    <%- include("template/trainers", {numeroEntrenador: '3', ocupacionTrabajador: 'Entrenadora'}); %>
    <%- include("template/trainers", {numeroEntrenador: '4', ocupacionTrabajador: 'Fisio'}); %>
    <%- include("template/trainers", {numeroEntrenador: '5', ocupacionTrabajador: 'Nutri'}); %>
</section>

<%- include("template/footer"); %>
