<%- include("template/head", {tituloweb: 'inicio'}); %>


<%- include("template/header", {letras: '',equipo: '', titulo: 'Blackout Gym', lema: 'Fitness for Anyone Anytime and Anywhere', informacion: 'Entrenar debe ser un estilo de vida, no un castigo', apartado: 'inicio'}); %>


<%- include("template/activities"); %>

<%- include("template/welcome"); %>

<%- include("template/courses"); %>

<section class="entrenadores">
    <%- include("template/trainers", { arrayEquipo: equipo }); %>
</section>

<%- include("template/footer"); %> 
 