<div class="container">
    <div class="card mt-4" style="min-height: 45rem;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-lg-8">
                    <center><button class="btn btn-outline-secondary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Opciones</button></center>
                    
                </div> 
            </div>

            <!-- Modificador de pagina web -->
            <div class="row-fluid mt-5">
                <div class="card" id="webCard" hidden>
                    <div class="card-header">
                      Elementos de pagina web
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>

            <!-- Modificador de Administracion -->
            <div class="row-fluid mt-5">
              <div class="card" id="adminCard" hidden>
                  <div class="card-header">
                    Administraci칩n
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
            </div>

            <!-- Modificador de Trabajadores -->
            <div class="row-fluid mt-5">
              <div class="card" id="workersCard" hidden>
                <div class="card-header">
                  Administradores
                </div>
                <div class="card-body">
                  <div class="d-grid my-4">
                    <a class="btn btn-secondary" id="crearTrabajador"> 
                        A침adir a nuevo trabajador
                    </a>
                  </div>
                  <div id="addWorker" hidden>
                    <%- include("addWorker"); %>
                  </div>
                  <table class="table" id="workersTable">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido Paterno</th>
                        <th scope="col">Apellido Materno</th>
                        <th scope="col">Email</th>
                        <th scope="col">Sucursal</th>
                        <th scope="col">Ocupacion</th>
                        <th scope="col">Acci칩n</th>
                        </tr>
                    </thead>
                    <tbody>
                      <% if (arrayTrabajadores.length > 0) { %>
                        <% arrayTrabajadores.forEach(trabajador => { %>
                        <tr>
                          <th scope="row"><%= trabajador.id %></th>
                          <td><%= trabajador.nombre %></td>
                          <td><%= trabajador.app %></td>
                          <td><%= trabajador.apm %></td>
                          <td><%= trabajador.email %></td>
                          <td><%= trabajador.sucursal %></td>
                          <td><%= trabajador.ocupacion %></td>
                          <td>
                            <a href="/dashboard/trabajador/<%= trabajador.id %>" id="btnDetalle" class="btn btn-warning btn-sm">Editar</a>
                          </td>
                        </tr>
                      <% }) %>
                      <%  }   %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Modificador de Clientes -->
            <div class="row-fluid mt-5">
              <div class="card" id="clientsCard" hidden>
                  <div class="card-header">
                    Clientes
                  </div>
                  <div class="card-body">
                    <table class="table" id="clientsTable">
                      <thead>
                          <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Apellido Paterno</th>
                          <th scope="col">Apellido Materno</th>
                          <th scope="col">Email</th>
                          <th scope="col">Sexo</th>
                          <th scope="col">Telefono</th>
                          <th scope="col">Acci칩n</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% if (arrayClientes.length > 0) { %>
                          <% arrayClientes.forEach(cliente => { %>
                          <tr>
                            <th scope="row"><%= cliente.id %></th>
                            <td><%= cliente.nombre %></td>
                            <td><%= cliente.app %></td>
                            <td><%= cliente.apm %></td>
                            <td><%= cliente.email %></td>
                            <td><%= cliente.sexo %></td>
                            <td><%= cliente.telefono %></td>
                            <td>
                              <a href="/dashboard/cliente/<%= cliente.id %>" class="btn btn-warning btn-sm">Editar</a>
                            </td>
                          </tr>
                        <% }) %>
                        <%  }   %>
                      </tbody>
                    </table>
                  </div>
              </div>
            </div>

            <!-- Modificador de membresias -->
            <div class="row-fluid mt-5">
              <div class="card" id="membershipsCard" hidden>
                  <div class="card-header">
                    Membresias
                  </div>
                  <div class="card-body">
                    <div class="d-grid my-4">
                      <a class="btn btn-secondary" id="crearMembresia"> 
                          Crear Membresia
                      </a>
                    </div>
                    <div id="addMembership" hidden>
                      <%- include("addMembership"); %>
                    </div>
                    <div class="card-body">
                      <table class="table" id="membershipsTable">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Duracion</th>
                            <th scope="col">Inscripcion</th>
                            <th scope="col">Mantenimiento</th>
                            <th scope="col">24hrs</th>
                            <th scope="col">Clases Ilimitadas</th>
                            <th scope="col">invitados</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% if (arrayMembresias.length > 0) { %>
                            <% arrayMembresias.forEach(membresia => { %>
                            <tr>
                              <th scope="row"><%= membresia.id %></th>
                              <td><%= membresia.nombre %></td>
                              <td><%= membresia.precio %></td>
                              <td><%= membresia.duracion %></td>
                              <td><%= membresia.inscripcion %></td>
                              <td><%= membresia.mantenimiento %></td>
                              <td><%= membresia.todoeldia %></td>
                              <td><%= membresia.clases %></td>
                              <td><%= membresia.invitados %></td>
                              <td>
                                <a href="/dashboard/membresia/<%= membresia.id %>" class="btn btn-warning btn-sm">Editar</a>
                              </td>
                            </tr>
                          <% }) %>
                          <%  }   %>
                        </tbody>
                      </table>
                    </div>
                  </div>
              </div>
            </div>

        </div>
    </div>
    
</div>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Opciones de administrador</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul>
        <li><a href="" class="dashboard-item" id="web"><h4>Modificar Elementos de pagina</h4></a></li>
        <li><a href="" class="dashboard-item" id="admin"><h4>Administradores</h4></a></li>
        <li><a href="" class="dashboard-item" id="workers"><h4>Trabajadores</h4></a></li>
        <li><a href="" class="dashboard-item" id="clients"><h4>Clientes</h4></a></li>
        <li><a href="" class="dashboard-item" id="memberships"><h4>Membresias</h4></a></li>

    </ul>
    
  </div>
</div>
<script>
    const ConfigWeb = document.querySelector('#web');
    const webCard = document.querySelector('#webCard');

    const ConfigAdmin = document.querySelector('#admin');
    const adminCard = document.querySelector('#adminCard');

    const ConfigWorkers = document.querySelector('#workers');
    const workersCard = document.querySelector('#workersCard');

    const ConfigClients = document.querySelector('#clients');
    const clientsCard = document.querySelector('#clientsCard');

    const ConfigMemberships = document.querySelector('#memberships');
    const membershipsCard = document.querySelector('#membershipsCard');

    let activo = null;

    // Trabajadores

    const crearTBtn = document.querySelector('#crearTrabajador');
    const crearTEjs = document.querySelector('#addWorker');
    const regresarT = document.querySelector('#workerRegresar');
    const tablaT = document.querySelector('#workersTable');

    crearTBtn.addEventListener('click', (e) => {
      e.preventDefault();
      crearTEjs.hidden = false;
      crearTBtn.hidden = true;
      tablaT.hidden = true;
    });

    regresarT.addEventListener('click', (e) => {
      e.preventDefault();
      crearTEjs.hidden = true;
      crearTBtn.hidden = false;
      tablaT.hidden = false;
    });

    // Membresias
    const crearMBtn = document.querySelector('#crearMembresia');
    const crearMEjs = document.querySelector('#addMembership');
    const regresarM = document.querySelector('#membresiaRegresar');
    const tablaM = document.querySelector('#membershipsTable');

    crearMBtn.addEventListener('click', (e) => {
      e.preventDefault();
      crearMEjs.hidden = false;
      crearMBtn.hidden = true;
      tablaM.hidden = true;
    });

    regresarM.addEventListener('click', (e) => {
      e.preventDefault();
      crearMEjs.hidden = true;
      crearMBtn.hidden = false;
      tablaM.hidden = false;
    });

    // Eventos
    ConfigWeb.addEventListener('click', (e) => {
      e.preventDefault();
      activarElemento(webCard, ConfigWeb);
    });

    ConfigAdmin.addEventListener('click', (e) => {
      e.preventDefault();
      activarElemento(adminCard, ConfigAdmin);
    });

    ConfigWorkers.addEventListener('click', (e) => {
      e.preventDefault();
      activarElemento(workersCard, ConfigWorkers);
    });

    ConfigClients.addEventListener('click', (e) => {
      e.preventDefault();
      activarElemento(clientsCard, ConfigClients);
    });

    ConfigMemberships.addEventListener('click', (e) => {
      e.preventDefault();
      activarElemento(membershipsCard, ConfigMemberships);
    });

    function activarElemento(elemento, texto) {
      
      if (activo && activo !== elemento) {
        activo.setAttribute("hidden", true); 
        ConfigWeb.classList.remove('text-warning');
        ConfigAdmin.classList.remove('text-warning');
        ConfigWorkers.classList.remove('text-warning');
        ConfigClients.classList.remove('text-warning');
        ConfigMemberships.classList.remove('text-warning');
      }
    
      const estaActivo = !elemento.hasAttribute("hidden"); 
      elemento.toggleAttribute("hidden", estaActivo); 
    
      activo = estaActivo ? null : elemento; 
      if (!elemento.hasAttribute("hidden")) {
        texto.classList.add('text-warning'); 
      } else {
        texto.classList.remove('text-warning'); 
      }
    }


    
</script>