
<!-- <section id="equipo" class="equipo section-padding"> -->
    <!-- <div class="container"> -->
        <!-- <div class="col-md-12"> -->

        <!-- </div> -->


        <!-- <div class="row row-cols-5">
            <div class="col">
                <div class="card">
                    <h3 class="card-header text-center">Entrenador</h3>

                    <div class="card-body">

                        <img src="img/entrenador1Info.jpg" alt="" class="img-card img-fluid rounded-circle mb-4">
                        <h4 class="card-Nombre text-center"> Fernando Alvarez Ramirez</h4>
                        <p class="card-info text-center text-muted">Licenciado en Actividades y Deportes Ciencia Física </p>

                        <hr>

                        <p class="card-txt card-email ">Correo Electrónico: luis@gmail.com</p>
                        <p class="card-txt card-email ">Número telefónico: 669256327</p>
                        <p class="card-txt card-email ">Sucursal: Primera sucursal</p>
                        <hr>
                        <p class="redes">
                            <i class="bi bi-twitter text-dark mx-3"></i>
                            <i class="bi bi-facebook text-dark mx-3"></i>
                            <i class="bi bi-linkedin text-dark mx-3"></i>
                            <i class="bi bi-instagram text-dark mx-3"></i>
                        </p>

                    </div>
                </div>
            </div>
        </div> -->
    <!-- </div> -->
<!-- </section> -->


<div class="row">
    <div class="col">
        <div class="card" data-ocupacion="<%= ocupacion %>">
            <h3 class="card-header text-center"><%= ocupacion %></h3>
        </div>
        <div class="card-body" data-ocupacionInfo="<%= ocupacionInfo %>" data-nombre="<%= nombre %>" data-estudios="<%= estudios %>" data-telefono="<%= telefono %>" data-email="<%= email %>" data-sucursal="<%= sucursal %>">
            
            <h4 class="card-Nombre text-center"><%= nombre %></h4>
            <p class="card-info text-center text-muted"><%= estudios %></p>
            <hr>
            <p class="card-txt card-email"><%= email %></p>
            <p class="card-txt card-telefono"><%= telefono %></p>
            <p class="card-txt card-sucursal"><%= sucursal %></p>
            
        </div>
    </div>
</div>
<script>
    var card = document.querySelectorAll('.card-row');
    card.forEach(function(cards){
        var ocupacion = cards.dataset.ocupacion;
        card.style.backgroundImage =  `url(/img/${ocupacion}.jpg)`;
    });

</script>